/*main middle box in which whole content is there*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@700&family=Baloo+Tamma+2:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}
#box {
  /* border: 2px solid green; */
  width: 95%;
  background: #1d2938;
  box-shadow: 0cm 0cm 40px rgba(255, 255, 255, 0.363);
  align-items: center;
}

/* navigation bar and logo*/
header {
  font-family: Raleway;
  display: flex;
  align-items: center;
  padding-left: 0px;
  border: 0px solid green;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 2;
  border-right: 6px solid rgb(36, 61, 202);
  border-left: 5px solid rgb(196, 37, 63);
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  box-shadow: 0cm 0cm 40px rgba(7, 5, 37, 0.9);
}
header::before {
  content: "";
  position: absolute;
  background: #222e3de0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.navbar {
  display: block;
  border: 0px solid blue;
}

/* list of navbar*/

.navbar a {
  /* border: 2px solid black; */
  color: rgb(253, 253, 253);
  text-decoration: none;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 10px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
#active {
  opacity: 1;
  border-top: 2px solid rgba(245, 222, 179, 0.781);
  border-bottom: 2px solid rgba(245, 222, 179, 0.812);
  padding: 7px;
  /* box-shadow: 0px 0px 0px 0px white; */
  /* opacity: 1; */
}

#inactive {
  opacity: 0.6;
  transition: 0.2s;
  display: inline-block;
}

#inactive:hover {
  opacity: 1;
  transform: scale(1.1);
}
#login {
  height: 1.8rem;
  margin-left: 730px;
  margin-top: 7px;
  filter: invert(100%);
  padding-top: -10px;
  border: 0px solid wheat;
}
#login:hover {
  height: 1.9rem;
  filter: invert(70%);
}

.switch {
  margin-left: 26px;
  position: relative;
  display: inline-block;
  width: 39px;
  height: 23px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* CSS FOR SLIDER  */
/* CSS OF SLIDER */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(4, 9, 36);
  -webkit-transition: 0.4s;
  border: 0px solid whitesmoke;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #9b9898;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222831;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*animation of navbar list*/

div.borderYtoX a:before,
div.borderYtoX a:after {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 2px;
  content: "";
  background-color: rgb(241, 180, 190);
  transition: all 0.7s;
}

div.borderYtoX a:before {
  left: 0px;
  top: 0px;
}

div.borderYtoX a:after {
  right: 0px;
  bottom: 0px;
}

div.borderYtoX a:hover:before,
div.borderYtoX a:hover:after {
  z-index: 2;
  opacity: 1;
  height: 2px;
  width: 100%;
  background: rgba(197, 190, 238, 0.644);
}
#logo {
  height: 5rem;
  padding-right: 30px;
  margin-left: 40px;
}

.title {
  color: antiquewhite;
  margin: 30px;
  margin-top: 60px;
}

#text {
  color: rgb(196, 198, 200);
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 85px;
  margin-top: 10px;
  text-align: justify;
}

.back {
  border: 0px solid red;
  margin-top: -130px;
  background-image: url(../Images/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  opacity: 0.4;
  position: static;
  text-transform: uppercase;
  font-weight: bolder;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80%;
}
section h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  font: normal 300 64px/1 "Josefin Sans", sans-serif;
  text-align: center;
  white-space: nowrap;
}

.demo a {
  position: absolute;
  bottom: 280px;
  left: 47%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.additional {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 320px;
  /* border: 2px solid pink; */
}

.container {
  background-color: #121b2580;
  border: 0px solid wheat;
  padding-top: 5px;
  padding-bottom: 2px;
}

.container:hover{
border-left: 8px solid rgb(154, 152, 152);
transition: 1s;
}

#title {
  color: antiquewhite;
  font-size: 40px;
  margin: 50px;
  margin-bottom: 0px;
  margin-left: 70px;
  font-family: "Baloo Tamma 2", cursive;
}
.lastdiv {
  margin-top: 80px;
  margin-bottom: 20px;
  color: white;
}

hr {
  margin: 50px;
}

/*Profile card*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.containerprofile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.snip1344 {
  border-radius: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  
  /* min-width: 230px;
  max-width: 315px; */
  width: 30%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #141414;
  box-shadow: 0 0 20px rgba(168, 164, 164, 0.618);

}
.snip1344:hover{
  transform: scale(1.04);
  transition: 0.7s;
}
.snip1344 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1344 .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.2;
  -webkit-filter: grayscale(100%) blur(10px);
  filter: grayscale(100%) blur(10px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.snip1344 figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.snip1344 .profile {
  border-radius: 50%;
  position: absolute;
  font-size: 1.1rem;

  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.snip1344 h3 {
  margin: 0 0 5px;
  font-weight: 400;
}
.snip1344 h3 span {
  display: block;
  font-size: 0.9em;
  color: #f39c12;
  opacity: 0.75;
}

.container a {
  text-decoration: none;
}

.icon img {
  height: 20px;
  width: 20px;
}
.xm {
  border: 0px solid red;
  margin-top: 20px;
}
.xp {
  border: 0px solid red;
  margin-top: 7px;
}
#mailk {
  width: 34px;
  height: 20px;
}
#phonek {
  width: 28px;
  height: 28px;
  margin-left: -150px;
}
#mailm {
  width: 34px;
  height: 20px;
  margin-left: -43px;
}
#phonem {
  width: 28px;
  height: 28px;
  margin-left: -150px;
}
#cont {
  color: rgb(179, 177, 174);
  margin-left: 10px;
}

.social{
  border: 0px solid red;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#linkedin{
  width: 22px;
  height: 24px;
  padding-bottom: 0px;
  margin-right: 20px;
  
}
#insta{
  width: 27px;
  height: 31px;
  padding-top: 5px;
  margin-right: 20px;
}
#git{
  width: 25px;
  height: 30px;
  padding-top: 5px;
  border-radius: 1px;
}
